<head><title>op.to</title></head><style>
	body {
		width:100%;
		height:100%;
		border:0;
		margin:0;	
	}
	#ltlogo {
		display: none;
		position: fixed;
		top: 40%;

	}
	#inp {
		display:none;
		position:fixed;
	}	
	#inp2 {
		display:none;
		position:fixed;
	}
	#out {
		position: fixed;
	}
	#btn {
		display:none;
	}
</style><body>
<img id=ltlogo src=/opto-basic-2.png></img>
<input id=inp2 type=text value=" speak freely"></input>
<input id=inp type=text value="http://old.url/goes/h.e.r.e?yes"></input>
<input id=btn type=submit value=op.to></input>
<div id=out></div>
<script>
	String.prototype.rjust = function( width, padding ) {
		padding = padding || " ";
		padding = padding.substr( 0, 1 );
		if( this.length < width )
			return padding.repeat( width - this.length ) + this;
		else
			return this;
	};
	String.prototype.repeat = function( num ) {
		for( var i = 0, buf = ""; i < num; i++ ) buf += this;
			return buf;
	};
 	var inprogress = 0;
	var ltlogo = document.getElementById('ltlogo');
	var ltrsz = function () {
		var w = window.innerWidth;
		var h = window.innerHeight;
		var r = w/h;
		if (ltlogo.ratio < r) {
			ltlogo.height = h*0.2;
			ltlogo.width = ltlogo.height*ltlogo.ratio;
		}
		else {
			ltlogo.width = w*0.47;
			ltlogo.height = ltlogo.width/ltlogo.ratio;
		}
		var lh = ltlogo.height;
		var lw = ltlogo.width;
		ltlogo.style.left = (window.innerWidth - 1.01*lw)/2 + "px";
		ltlogo.style.top = (window.innerHeight - lh)/3 + "px";
	};
	ltlogo.onload = function (e) {
		ltlogo.ratio = ltlogo.width/ltlogo.height;
		ltrsz();
		ltlogo.style.display = "inline";
	};
	var inp = document.getElementById('inp');
	var inp2 = document.getElementById('inp2');
	var btn = document.getElementById('btn');
	var irsz = function () {
		var w = window.innerWidth;
		var h = window.innerHeight;
		var fs = Math.round(h*0.067);
		inp.style.top = (h-fs)*2/3;
		inp.style.fontSize = fs+"px";
		inp.style.width = "20%";
		inp.style.left = ((w-w*0.2)/2);
		inp2.style.top = (h-3*fs)*2/3;
		inp2.style.fontSize = fs+"px";
		inp2.style.width = "70%";
		inp2.style.left = ((w-w*0.7)/2);
	};
	var brsz = function () {
		var w = window.innerWidth;
		var h = window.innerHeight;
		btn.style.position = "fixed";
		btn.style.height = "8%";
		btn.style.width = "13%";
		var md = h < w ? h : w;
		btn.style.fontSize = Math.round(md*0.04)+"px";
		btn.style.top = Math.round((h-h*0.08)*2/3+h*0.13);
		btn.style.left = Math.round((w-w*0.13)/2);
	};
	var rsz = function (e) {
		ltrsz();
		irsz();
		brsz();
		orsz();
	};
	window.onload = function () {
		rsz();
		inp.style.display = "inline";
		inp2.style.display = "inline";
		btn.style.display = "inline";
	};
	window.onresize = rsz;
	var out = document.getElementById('out');
	var orsz = function(){
		var w = window.innerWidth;
		var h = window.innerHeight;
		out.style.width = w*0.9;
		out.style.height = w*0.14;
		out.style.top = h*0.08;
		out.md = h < w ? h : w;
	        out.fs = Math.ceil(0.11*60/out.innerHTML.length*out.md)
		//out.style.backgroundColor = "red";
		out.style.left = (w-(w*0.9))/2;
		out.style.textAlign = "center";
		out.style.font = out.fs + "px italic Verdana, sans-serif";
	}; 
	inp.onkeydown = function (e) {
		if(e.keyCode == 13)
			btn.click();
	};
	inp2.onkeydown = function(e) {
		if(e.keyCode == 13)
			btn.click();
		if(inp2.value.length == 140) 
			alert("Passing 140 chars");
	}
	btn.onclick = function () {
		if(inprogress == 1)
			return;
		var former = inp.value;
		var latter = inp2.value;		
                var xhr = new XMLHttpRequest( );
                xhr.onreadystatechange = function () {
             		if(xhr.readyState == 4 && xhr.status == 200) { 
				out.innerHTML="<a href=http://op.to/"+xhr.responseText+" >op.to/"+xhr.responseText+"</a>";
				orsz();
			}
			inprogress = 0; // set a timer incase no response
                };
		if(former.indexOf(":")>0) // our custom way of encoding colon
			former = former.replace(":","c");
		else
			former = "httpc//"+former;
		latter = latter.replace(/ /g,"_");
 		xhr.open("GET","/humanize/"+former+"mangy-goats-devouring/"+latter,true);
		inprogress = 1;                
		xhr.send();
	};
</script>
</body>
